pandas
streamlit
plotly
sklearn
spacy==2.3.1
wordcloud
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
sentence-transformers
numpy
pillow
matplotlib
